<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    모든 타입 별칭은 이 하나의 태그 내에 정의
    <typeAliases>
        <typeAlias alias="User" type="com.oggo.planmaker.model.User"/>
        <typeAlias alias="Event" type="com.oggo.planmaker.model.Event"/>
    </typeAliases>
    다른 설정들 추가 가능
</configuration>
 -->