<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "file:///C:\Users\sr139\OneDrive\Desktop\OGGOSpring\planmakerSpring\src\main\resources\mybatis-3-mapper.dtd">
<mapper namespace="com.oggo.planmaker.mapper.PoiMapper">

    <select id="findByName" resultType="com.oggo.planmaker.model.Poi">
        SELECT *
        FROM fake_poi
        WHERE poi_name = #{poiName}
    </select>

    <insert id="insertPOI" useGeneratedKeys="true" keyProperty="poiIdx">
    INSERT INTO fake_poi (poi_name, poi_type, lat, lng, poi_desc)
    VALUES (#{poiName}, #{poiType}, #{lat}, #{lng}, #{poiDesc})
</insert>

    <select id="findByTheme" resultType="com.oggo.planmaker.model.Poi">
        SELECT *
        FROM fake_poi
        WHERE poi_type = #{theme}
        ORDER BY RAND()
        LIMIT 20
    </select>
    
   

</mapper>