<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "file:///C:/Users/sr139/OneDrive/Desktop/planmakerSpring/src/main/resources/mybatis-3-mapper.dtd">

<mapper namespace="com.oggo.planmaker.mapper.PoiMapper">

    <select id="findAll" resultType="com.oggo.planmaker.model.Poi">
        SELECT * FROM tb_poi
    </select>

    <select id="findById" parameterType="int" resultType="com.oggo.planmaker.model.Poi">
        SELECT * FROM tb_poi WHERE poi_idx = #{poi_idx}
    </select>

</mapper>
