<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "file:///C:\Users\sr139\OneDrive\Desktop\OGGOSpring\planmakerSpring\src\main\resources\mybatis-3-mapper.dtd">
<mapper namespace="com.oggo.planmaker.mapper.UserMapper">

	<insert id="join" parameterType="User">
		INSERT INTO tb_user
		(user_id,user_pw,user_email) VALUES (#{userId},#{userPw},#{userEmail})
	</insert>

	<select id="login" parameterType="User" resultMap="userResultMap">
		SELECT *
		FROM tb_user
		WHERE user_id = #{userId} AND user_pw = #{userPw}
	</select>
	
	<resultMap id="userResultMap" type="User">
		<id property="userId" column="user_id" />
		<result property="userEmail" column="user_email" />
	</resultMap>

</mapper>